#page {
  max-width: 1020px;
  width: 100% !important;
}

#main {
  position: relative;
  display: block;
  border-top: 2px solid #dfdfdf;

  padding-top: 25px;
  padding-bottom: 10px;

}
.asideblocks {
  visibility: visible !important;
}

span {
  color: #888888;
}

p {
  font-weight: bold;
  text-align: center;
}

#imageDisplay {
  position: relative;
  width: 100%;
  height: 450px;
}


#mainImage {
  height: 400px;
}

.row {
  width: 100%;
  height: 173px;
  overflow: hidden;

  text-align: center;
}

.column {
  top: 0;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.column img {
  width: 200px;
}

#walletpic {
  width: 260px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media only screen and (max-width: 800px)  {
  #main {
    max-width: 100vw;
    text-align: center;
    font-size: 22px;
  }

  .left {
    width: 90%;
    float: none;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .right {
    width: 90%;
    float: none;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #main div img {
    width: 70%;
    height: auto;
  }
}
