#page {
  max-width: 1020px;
  width: 100% !important;
}

#main {
  position: relative;
  display: block;
  border-top: 2px solid #dfdfdf;

  padding-top: 25px;
  padding-bottom: 10px;

}
.asideblocks {
  visibility: visible !important;
}

span {
  color: #888888;
}

p {
  font-weight: bold;
  text-align: center;
}

#imageDisplay {
  position: relative;
  width: 100%;
}


#mainImage {
  height: 400px;
}

.row {
  width: 100%;
  height: 173px;
  overflow: hidden;

  text-align: center;
}

.column {
  top: 0;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.column img {
  width: 200px;
}

#walletpic {
  width: 260px;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media only screen and (max-width: 925px)  {
  .column img {
    width: 150px;
  }

  #walletpic {
    width: 210px;
  }

  .row {
    height: 129px;
  }
}


@media only screen and (max-width: 800px)  {
  #main {
    max-width: 100vw;
    text-align: center;
    font-size: 22px;

    padding-left: 10px;
    padding-right: 10px;
  }

  #imageDescription {
    height: 60px;
  }
}

@media only screen and (max-width: 720px)  {
  .column img {
    width: 100px;
  }

  #walletpic {
    width: 120px;
  }

  .row {
    height: 86px;
  }

  #imageDescription {
    height: 90px;
  }
}

@media only screen and (max-device-width: 480px)  {
  .column img {
    width: 120px;
  }

  #walletpic {
    width: 160px;
  }

  .row {
    height: 104px;
  }
}
