/* CSS for the general (and desktop) webpage */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif !important;
  margin: 0;

  /*color: #444;*/
  color: #aaaaaa;
  line-height:1.4;
  font-size:15px;
}

#page {
  width:1020px;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #F5F5F5;
  box-shadow: 3px 3px 1px #b6b6b6;
}

#frontWallet, #backWallet {
  text-align: center;
}

#main {
  display: inline-block;
  width: auto;
  position: relative;
}

#ductTapeDisplay {
  padding-top:15px;
  padding-left:30px;
  padding-right: 15px;

  border-top: 2px solid #dfdfdf;
  border-right: 2px solid #dfdfdf;



  position: relative;
  width: 790px;
  height: 590px;

}
#walletPictures {
  margin: 15px;
  z-index: 2;
}


#aside {
  position: relative;
  float: right;
  border-top: 2px solid #dfdfdf;
  display: inline-block;
  clear: both;

  width: 230px;
  max-width: 230px;
}

#header {
  position: relative;
  display:inline-block;
  padding-top: 40px;
  padding-left: 2vw;
  width: 100%;
}
hr {
  border-color: #FFFFFF;
}
/* The Close Button */
#close {
  color: #aaaaaa;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 1.4;

  cursor: pointer;

  width: 100%;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
#close:hover {
  color: #cecece;
}

.color {
  display: inline-block;
  padding: 20px;
  margin: 1px;
  margin-bottom: 0;
  border-radius: 2px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;

  cursor: pointer;
}

.color:hover {
  opacity: 0.8;
}

#colors {
  margin: 0 auto;
  text-align: center;
}


.button {
  padding: 10px;
  background-color: #e7e7e7;
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #b6b6b6;
  border-bottom: 3px solid #b6b6b6;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;

  color: #989898;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.button:hover {
  background-color: #efefef;
}

.button:active {
  border-bottom: 1px solid #b6b6b6;
}

#buyButton {
  float: right;
}

#checkoutButton {
  position: absolute;
  bottom: 10px;
  right: 0;
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.wallet {

  cursor: pointer;
}
.wallet:hover {

}

#footer {
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
  padding-bottom: 15px;
  bottom: 0;
}

p {
  margin-bottom: 15px;
}


#currentCart {
  font-size: 19px;
  color: #aaaaaa;
  text-align: center;
}

#links {
}

#cartDisplay {
  position: relative;
  height: 248px;
  width: 230px;
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 15px;
}

#walletsCartDisplay{
  width: 230px;
  height: 200px;
  overflow-y: scroll;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

a {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}

a:link { color:#aaaaaa; text-decoration:none; font-weight:bold; }
a:visited { color: #aaaaaa; text-decoration:none; font-weight:bold; }
a:hover { color: #818181; text-decoration:none; font-weight:bold; }
a:active { color: #aaaaaa; text-decoration:none; font-weight:bold; }

.cartItem {
  width: 170px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display:inline-block;
}

.cartItem p {
  cursor: pointer;
}

.xButton {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
.xButton:hover {
  color: #cecece;
}

img {
  cursor: pointer;
  cursor: hand;
}

#title {
  font-size: 35px;
  margin-bottom: 50px !important;
  color: #303030;
  line-height: 1.1;
  letter-spacing: 3px;
}

#subtitle {
  color: #888888;

}

#links {
  padding-top: 30px;
}

#colorsContainer {
  text-align: center;
  padding: 15px;
  padding-top: 0px;
  width: 230px;
  max-width: none;
  line-height: 0;
}

.socialMediaLink {
  display: inline;
  text-align: center;
  width: 25px;
  height: auto;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}

.socialMediaLink:hover {
  opacity: 0.7;
}

#titleBox {
  display: inline-block;
  text-align: center;
}

#helpButton {
  position: absolute;
  width: 24px;
  height: auto;
  margin-left: 15px;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}

#helpButton:hover {
  opacity: 0.7;
}

.canvasWrap {
  position: relative;
  display: inline-block;
}


#helpDisplay {
  position: absolute;
  left: 332px;
  top: 51px;
  z-index: 10002;
}

#helpContent {
  width: 296px;
  height: 160px;;
  padding: 10px;
  padding-top: 3px;
  line-height: 1.4;

  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.walletFrame {
  cursor: pointer;
}

.walletDisplay {
  cursor: pointer;
  box-shadow: 3px 3px 1px #b6b6b6;
  width: 648px;
  height: 244px;
}

#helpClose {
  margin-right: 10px;
  margin-bottom: 15px;
  float: right;
  cursor: pointer;
}

.separator {
  color: #aaaaaa;
}
