/* CSS for the general (and desktop) webpage */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;

  color: #aaaaaa;
  font-size:15px;
  font-family: Helvetica,Arial,sans-serif !important;
  line-height:1.4;
}

#page {
  position: relative;

  margin: auto;

  width:1020px;

  background: #F5F5F5;
  box-shadow: 3px 3px 1px #b6b6b6;
}

#frontWallet, #backWallet {
  text-align: center;
}

#backWallet  {
  margin-bottom: 15px;
}

#frontWallet {
  margin-top: 15px;
}

#main {
  position: relative;
  display: inline-block;
  width: auto;
}

#ductTapeDisplay {
  position: relative;

  padding: 15px 15px 0px 30px;

  width: 790px;
  height: 590px;

  border-top: 2px solid #dfdfdf;
  border-right: 2px solid #dfdfdf;
}


#aside {
  position: relative;
  display: inline-block;

  float: right;
  clear: both;

  max-width: 230px;
  width: 230px;

  border-top: 2px solid #dfdfdf;
}

#header {
  position: relative;
  display:inline-block;

  padding-top: 40px;
  padding-left: 2vw;

  width: 100%;
}

#close {
  width: 100%;

  color: #aaaaaa;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.4;

  cursor: pointer;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#close:hover {
  color: #cecece;
}

.color {
  display: inline-block;

  margin: 1px;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 2px;

  cursor: pointer;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.color:hover {
  opacity: 0.8;
}

#colors {
  margin-top: 10px;
  text-align: center;
}


.button {
  margin-bottom: 15px;
  padding: 10px;

  border: 1px solid #cecece;
  border-bottom: 3px solid #b6b6b6;
  border-radius: 4px;

  background-color: #e7e7e7;

  color: #989898;

  cursor: pointer;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.button:hover {
  background-color: #efefef;
}

.button:active {
  border-bottom: 1px solid #b6b6b6;
}

#buyButton {
  float: right;
}

#checkoutButton {
  position: absolute;
  right: 0;
  bottom: 10px;

  margin-right: 1vw;
  margin-bottom: 5px;
}

.wallet {
  cursor: pointer;
}

#footer {
  padding-bottom: 15px;
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
}


#currentCart {
  color: #aaaaaa;
  text-align: center;
  font-size: 19px;
}

#cartDisplay {
  position: relative;
  margin-bottom: 15px;
  width: 230px;
  height: 248px;
  border-bottom: 2px solid #dfdfdf;
}

#walletsCartDisplay{
  position: relative;
  overflow-y: scroll;
  margin: 0 auto;
  width: 230px;
  height: 200px;
  text-align: center;
}

a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a:link { color:#aaaaaa; text-decoration:none; font-weight:bold; }
a:visited { color: #aaaaaa; text-decoration:none; font-weight:bold; }
a:hover { color: #818181; text-decoration:none; font-weight:bold; }
a:active { color: #aaaaaa; text-decoration:none; font-weight:bold; }

.cartItem {
  position: relative;
  margin: 0 auto;
  width: 170px;
  height: auto;
}

.cartItem p {
  cursor: pointer;
}

.xButton {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.xButton:hover {
  color: #cecece;
}

img {
  cursor: pointer;
  cursor: hand;
}

#title {
  color: #303030;
  letter-spacing: 3px;
  font-size: 35px;
  line-height: 1.1;
}

#subtitle {
  color: #888888;
}

#links {
  padding-top: 30px;
}

#colorsContainer {
  padding: 15px;
  padding-top: 0px;

  max-width: none;
  width: 230px;

  text-align: center;
  line-height: 0;
}

.socialMediaLink {
  width: 25px;
  height: auto;

  text-align: center;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.socialMediaLink:hover {
  opacity: 0.7;
}

#titleBox {
  display: inline-block;
  text-align: center;
}

#helpButton {
  position: absolute;
  margin-left: 15px;

  width: 24px;
  height: auto;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#helpButton:hover {
  opacity: 0.7;
}

.canvasWrap {
  position: relative;
  display: inline-block;
}


#helpDisplay {
  position: absolute;
  top: 51px;
  left: 332px;
  z-index: 103;
}

#helpContent {
  padding: 10px;
  padding-top: 3px;

  width: 296px;
  height: 160px;

  text-align: center;
  font-weight: bold;

  font-size: 14px;
  line-height: 1.4;
}

.walletFrame {
  cursor: pointer;
}

.walletDisplay {
  width: 648px;
  height: 244px;
  box-shadow: 3px 3px 1px #b6b6b6;
  cursor: pointer;
}

#helpClose {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.separator {
  color: #aaaaaa;
}
