/* Website is initially designed for the target of iPhone 6 Plus, 414 x 736px */
* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}


html, body {
  margin: 0;
  padding: 0;

  background-color: #FCFCFC;
}

.arrow {
  display: inline;
  margin-right: 3px;
  width: 5px;
}

.separator {
  border-top: 1px solid #E5E5E5;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  color: #EFEFEF;

  margin-bottom: 15px;
  margin-top: 15px;
}

#header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: white;

  z-index: 99;
  box-shadow: 0px 0px 7px #D0D0D0;
}

  #header #titleBox {
    margin: 10px;
    display: inline-block;
    text-align: center;
  }

    #header #titleBox h5,h1 {
      opacity: 0;
      display: inline;
    }

#whiteSpace {
  height: 50px;
  width: 100%;
}

#main {
  text-align: center;
}

#design {
  background-color: #F5F5F5;
  padding: 20px 5px 10px 5px;
  text-align: center;
}

  #design h2 {
    font-style: italic;
    font-weight:lighter;
  }

  #design h6 {
    color: #9B9B9B;
    font-weight: normal;
  }

  #design h6 .arrow {
    font-size: 8px;
    margin-right: 0px;
  }


#imageGallery{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

  #imageContainer {
    display: inline-block;
    position: relative;
    width: 75%;
    max-width: 800px;

    margin-left: 10px;
    margin-right: 10px;

    overflow: hidden;
  }

  #imageGallery #img,#img2,#placeholder {
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  #imageGallery #placeholder {
    visibility: hidden;
  }

  #imageGallery #img,#img2 {
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid transparent;
  }

  #imageGallery #img2 {
    left: 100%;
  }

  #imageGallery .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  #imageGallery .galleryArrow {
    cursor: pointer;
    width: 30px;
    opacity: 0.6;
  }

#popularDesigns {
  padding-top: 8px;
  margin-bottom: 25px;
  text-align: center;
}

  #popularDesigns h2 {
    font-weight: lighter;
    margin-bottom: 8px;
  }

  #popularDesigns #wallets {
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 1000px;
  }

    #wallets .popularWallets {
      opacity: 0;
      padding-top: 10px;
      position: relative;
      width: 23%;
      max-width: 250px;
      margin: 3px;
      text-align: center;
      display: inline-block;
    }

      .popularWallets img {
        width: 90%;
        max-width: 180px;
      }

      .popularWallets .button {
        display: inline-block;
        font-size: 10px;
        font-weight:600;


        font-weight: bold;
        font-size: 11px;
        color: #444;

        box-shadow: 2px 2px 0px #BBB;

        margin-top: 5px;

        margin-left: 5px;
        margin-right: 5px;

        padding: 4px 7px 4px 7px;

        width: 27%;

        background-color: #F7F7F7;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
      }

      .popularWallets .button:hover {
        background-color: #DFDFDF;
      }

      .popularWallets .button:active {
        background-color: #C0C0C0;
      }



#productsBox {
  padding-bottom: 50px;
}

  #productsBox > h2 {
    font-weight: lighter;
    margin-top: 8px;
  }

  #productsBox #products {
    margin-top: 8px;

    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 1000px;
  }

    #products .product {
      display: inline-block;
      width: 45%;
      height: 300px;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;

      background-color: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 8px;

      vertical-align: top;

      padding: 10px;

      position: relative;

      text-align: middle;

      color: #9B9B9B;
      font-style: italic;
    }

      .product > h2 {
        margin-bottom: 10px;

      }

      .product .productImage {
        display: inline;

        width: 90%;
      }

      .product > h3 {
        margin-top: 10px;
        font-weight: normal;
      }



#footer {
  padding-bottom: 15px;
  width: 100%;
  background-color: #F8F8F8;
  text-align: center;
}

.socialMediaLink {
  width: 25px;
  height: auto;

  text-align: center;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.socialMediaLink:hover {
  opacity: 0.7;
}

a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a:link { color:#aaaaaa; text-decoration:none; font-weight:bold; }
a:visited { color: #aaaaaa; text-decoration:none; font-weight:bold; }
a:hover { color: #818181; text-decoration:none; font-weight:bold; }
a:active { color: #aaaaaa; text-decoration:none; font-weight:bold; }
