#page {
  max-width: 1020px;
  width: 100% !important;
}

#main {
  position: relative;
  display: block;
  min-height: 70vh;
  border-top: 2px solid #dfdfdf;

  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px !important;

  padding: 5% 5% 50px 50px;

}

.imgContainer {
  position: relative;
  display: inline-block;
}

.painting {
  height: 300px;
  width: auto;
}

p {
  font-weight: bold;
}

span {
  color: #888888;
}

#mainText {
  margin-top: 30px;
}

hr {
  display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #dfdfdf;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 0;
}

@media only screen and (max-width: 620px), (max-device-width: 480px)  {
  .painting {
    width: 300px;
    height: auto;
  }
}
