/* CSS for the general (and desktop) webpage */

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;

  /*color: #444;*/
  color: #aaaaaa;
  line-height:1.4;
  font-size:15px;
}

#page {
  width:1050px;
  position: relative;
  margin: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #F5F5F5;
  box-shadow: 3px 3px 1px #b6b6b6;
}

#main {
  display: flex;
  position: relative;
}

#ducttapedisplay {
  padding-top:15px;
  padding-left:30px;
  border-radius:3px;
  border-top: 2px solid #dfdfdf;
  border-right: 2px solid #dfdfdf;

  max-width:820px;

  position: relative;
}
#walletPictures {
  margin: 15px;
  z-index: 2;
}

#aside {
  position: relative;
  flex-grow: 1;
  border-top: 2px solid #dfdfdf;
}
#header, #footer, article, nav, #aside {
  padding-left: 1em;
  padding-right: 1em;
}
#header, #footer {
  width: auto;
}
#header {
  position: relative;
  display:inline-block;
  padding: 3% 3% 0 3%;
  width: 100%;
}
hr {
  border-color: #FFFFFF;
}
/* The Close Button */
#close {
  color: #aaaaaa;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;

  cursor: pointer;

  width: 100%;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
#close:hover {
  color: #cecece;
}

.color {
  width:13px;
  height:13px;
  display: inline-block;
  padding: 20px;
  margin: 2px;
  margin-right:10px;
  border-radius: 2px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;

  cursor: pointer;
}

#colors {
  margin: 0 auto;
  text-align: center;
}

.walletFramec {
  cursor: pointer;
}


.button {
  padding: 10px;
  background-color: #e7e7e7;
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #b6b6b6;
  border-bottom: 3px solid #b6b6b6;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 2%;

  color: #989898;

  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.button:hover {
  background-color: #f4f4f4;
}

.button:active {
  border-bottom: 1px solid #b6b6b6;
}

#buyButton {
  float: right;
}

#checkoutButton {
  float: right;
  bottom: 0;
  right: 0;
}

#asideFooter {
  position: absolute;
  padding-bottom: 1em;
  padding-right: 1em;
  width: auto;
  bottom: 0;
  right: 0;
  display: inline;
}


.wallet {

  cursor: pointer;
}
.wallet:hover {

}

#footer {
  background-color: #F0F0F0;
  text-align: center;
  padding-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

#walletPictures canvas {
  box-shadow: 3px 3px 1px #b6b6b6;
}

#currentCart {
  font-size: 19px;
  color: #aaaaaa;
  text-align: center;
}

#links {
}

#walletsCartDisplay{
  width: 223px;
  height: 612px;
  overflow-y: scroll;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

a {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}

a:link { color:#aaaaaa; text-decoration:none; font-weight:bold; }
a:visited { color: #aaaaaa; text-decoration:none; font-weight:bold; }
a:hover { color: #818181; text-decoration:none; font-weight:bold; }
a:active { color: #aaaaaa; text-decoration:none; font-weight:bold; }

.cartItem {
  width: 170px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display:inline-block;
}

.cartItem p {
  cursor: pointer;
}

.xButton {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
.xButton:hover {
  color: #cecece;
}

img {
  cursor: pointer;
  cursor: hand;
}

#title {
  font-size: 35px;
  margin-bottom: 50px !important;
  color: #303030;
  line-height: 1.2;
}

#subtitle {
  color: #888888;

}

#links {
  padding-top: 30px;
}

#colorsContainer {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}

.socialMediaLink {
  display: inline;
  text-align: center;
  width: 25px;
  height: auto;
}

#titleBox {
  display: inline-block;
  text-align: center;
}
