

#main {
  position: relative;
  display: block;
  min-height: 70vh;
  border-top: 2px solid #dfdfdf;
  padding-top: 50px;

  clear: both;
}

.asideblocks {
  visibility: visible !important;
}

span {
  color: #888888;
}

p {
  font-weight: bold;
  text-align: center;
}

#paintingBox {
  display: inline-block;
  width: 50%;
}

#walletsBox {
  width: 50%;
  float: right;
}


#painting {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 345px;
  margin-bottom: 10px;
}

#wallets {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}
