#page {
  max-width: 1020px;
  width: 100% !important;
}

#main {
  position: relative;
  display: block;
  min-height: 70vh;
  border-top: 2px solid #dfdfdf;

}

.asideblocks {
  visibility: visible !important;
}

span {
  color: #888888;
}

p {
  font-weight: bold;
  text-align: center;
}

#paintingBox {
  display: inline-block;
  width: 50%;
}

#walletsBox {
  display: inline-block;
  width: 50%;
  float: right;
}


#painting {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 345px;
  margin-bottom: 10px;
}

#wallets {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}

@media only screen and (max-width: 863px)  {
  #main {
    text-align: center;
    font-size: 22px;
  }

  #walletsBox {
    float: none;
    margin-bottom: 20px;
  }

  #painting {
    width: 50vw;
    height: auto;
  }

  #paintingBox {
    margin-bottom: 50px;
  }

  #wallets {
    width: 50vw;
    height: auto;
  }
}
